a{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #000;
	text-decoration: none;
}
.col-md-1 {background: red;}
div{
	text-align: center;
}
.box {
	display: flex;
 	align-content: flex-end ;
 	height: 600px;
}
 
 .box > div{
 	
	height: 200px;
	line-height: 200px;
	font-size: 24px;
	border: 1px solid rgb(215,71,0); 

}