h1 {
	width: 200px;
	height: 200px;
	margin: 100px auto;
	color: red;
	text-align: center;
	line-height: 200px;
	background: yellow;
}
h1:hover {
	box-shadow: 0 0 30px #009900;
	color: #fff;	
	background: blue;
}