/*
	初始化 css
 */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
.row{
	margin-left: 0; 
	margin-right: 0;  
}
textarea {
	resize: none;
}



/*
	代码
*/
.container{
	
	min-width: 320px;
}
div.add-query {
	margin-top: 15px;

}
div.add-query .add-data i {
	margin-right: 15px;
}
.modal-dialog {
    max-width: 600px;
    min-width: 320px;
    margin: 100px auto;
}








.container ul.data-info {
	border: 1px solid #ccc;
	padding: 0;
	border-radius: 5px;
	margin-top: 15px;
	text-align:center;
}
ul.data-info li{
	list-style: none;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #ccc;
	position: relative;
	overflow: hidden;
}
ul.data-info li:last-child{
	border-bottom: 0;
}
.container ul.data-info li > div{ 
	border-left:  1px solid #ccc;
}
.container ul.data-info li > div:nth-child(1){
	border-left: 0;
}
 ul.data-info .operate button{  
	margin-top: 3px;
	margin-bottom: 3px;
}
 ul.data-info .layer-box { 
	display: none;
	position: absolute; 
	top:  0; 
	left:  0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	padding: 3px 0;
	border-radius: 5px;
}



