<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <div class="container">
    <div class="wrapper">
        <form action="/setWord" method="POST">
            <input type="text" name="yw" value="">
            <input type="text"  name="zw" value="">
            <input type="text"  name="dy" value="">
            <input type="submit">
        </form>
    </div>
  </div>
 {{each data}}
    <div>
      {{$index}} {{$value}}
      <input type="text" value="{{$value.zw}}">
    </div>
  {{/each}}

  {{if message }}
  <h3>{{message}}</h3>
  {{/if}}

</body>
</html>
