*{box-sizing:border-box}
html{background: #fde7e9;}
body{margin:auto;padding:0;width:100%;font-family:"Microsoft Yahei";max-width:1000px;overflow-x:hidden;}
body,html{position:relative;height:100%}
blockquote,button,dd,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;color:#000}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:100}
fieldset,iframe,img,table{border:0}
dd,dl,dt,li,ol,ul{list-style:none}
b{font-weight:100}
em,i{font-style:normal}
a{color:#333;text-decoration:none}
a:hover{text-decoration:none}
img{vertical-align:top}
.clear{clear:both}
.clearfix{zoom:1}
.clearfix:after{content:'.';display:block;visibility:hidden;clear:both;width:1px;height:1px}
.left{float:left}
.right{float:right}
.ta_c{text-align:center}
.ta_r{text-align:right}
.pos_abs{position:absolute}
.pos_rel{position:relative}
.wrapper{margin:auto;width:850px;position:relative}
.hidden{display:none}
.indent{text-indent:2em}
.weixinPic{height:1px;overflow:hidden;position:absolute;left:0;top:-2px}
.box_h{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3}
.pa{position:absolute}
.pr{position:relative}
.hide{display:none}
.loading{position:fixed;left:0;top:0;z-index:999;width:100%;height:100%}
.loading_logo {position:absolute;left:50%;margin-left:-103px;top:50%;margin-top:-88px;}
.range{position:absolute;left:50%;margin-left:-200px;top:50%;margin-top:0;width:400px;height:6px;background-color:#fff;border-radius:3px}
.range2{position:absolute;left:50%;margin-left:-200px;top:50%;margin-top:0;width:0;height:6px;background-color:#f07d00;border-radius:3px}
.text{left:0;top:50%;margin-top:30px;color:#f07d00;text-align:center;font-size:30px;width:100%;height:40px;line-height:40px}
.swiper-container{width:100%;height:100%}
.swiper-slide{position:relative}
.swiper-slide-active{overflow:auto!important}
.ani{animation-timing-function:linear;-webkit-animation-timing-function:linear}

.swiper-wrapper{
  position: absolute;
  top: 0;
  left: 0;
}

.part01-002{
   top: 50%;
  left: 0;
  margin-top: -500px;
  width: 750px;
  height: 725px;
  background: url(../images/002.png) no-repeat 0 0;
}
/*.part01-tit{
  width: 442.5px;
  height: 160.5px;
}
.part01-tit img{
  width: 100%;
  height: 100%;
}
*/

.tit{
  margin-bottom: 50px;
  text-align: center;
}
.part01-002 img{
  position: absolute;
  top: 222px;
  width: 391px;
  height: 351px;
  left: 176px;
}

.part03-deco li{
  text-align: center;
  margin-bottom: 15px;
}